<!DOCTYPE html>
<html>
    <head>
        <title>IGRA</title>
        <style>
            canvas {
                border:1px solid #000000;
                background-color: #f1f1f1;
            }
        </style>
    </head>
    <body onload="startGame()">
        <h1>HTML5 igra</h1>    
        <script>
            var myGamePiece;
            var min = 3;
            var max = 8;
            var numberOfComponents = Math.floor(Math.random() * (max - min + 1) + min); //random broj komponenti za generirat: od 3 do 8
            var components = [];
            var counter = 0;
            var generatedText = "Broj generiranih komponenti: " + numberOfComponents;
            var hitText = "Broj pogođenih komponenti: " + counter;

            function startGame() {
                for (let i = 0; i < numberOfComponents; i++) { //stvaranje random broj komponenti
                    var randX = Math.floor(Math.random() * (530 - 40 + 1) + 40);    //random pozicije
                    var randY = Math.floor(Math.random() * (330 - 40 + 1) + 40);
                    myGamePiece = new component(30, 30, "red", randX, randY);
                    components.push(myGamePiece);
                }
                myGameArea.start();
            }

            var myGameArea = {
                canvas : document.createElement("canvas"),
                start : function() {
                    this.canvas.id = "myGameCanvas";
                    this.canvas.width = 580;
                    this.canvas.height = 370;
                    this.context = this.canvas.getContext("2d");                    
                    document.body.insertBefore(this.canvas, document.body.childNodes[0]);
                    this.frameNo = 0;
                    this.interval = setInterval(updateGameArea, 20);
                },

                stop : function() {
                    clearInterval(this.interval);
                },

                clear : function() {
                    this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
                }
            }

            function component(width, height, color, x, y, type) {
                this.type = type;
                this.width = width;
                this.height = height;
                this.speed_x = Math.floor(Math.random() * (7 - 2 + 1) + 2);     //random x brzina pri stvaranju komponente: od 2 do 7
                this.speed_y = Math.floor(Math.random() * (7 - 2 + 1) + 2);     //random y brzina pri stvaranju komponente: od 2 do 7
                this.x = x;
                this.y = y; 

                this.update = function() {
                    ctx = myGameArea.context;
                    ctx.save();
                    ctx.translate(this.x, this.y); 
                    ctx.fillStyle = color;
                    ctx.fillRect(this.width / -2, this.height / -2, this.width, this.height);
                    ctx.restore(); 
                }

                this.newPos = function() {
                    if (this.x - this.width / 2 < 0)
                        this.speed_x = Math.floor(Math.random() * (7 - 2 + 1) + 2);
                    else if ((this.x + this.width / 2) >= myGameArea.context.canvas.width) 
                        this.speed_x = -Math.floor(Math.random() * (7 - 2 + 1) + 2);
                    if (this.y - this.height / 2 < 0)
                        this.speed_y = -Math.floor(Math.random() * (7 - 2 + 1) + 2);
                    else if ((this.y + this.height / 2) >= myGameArea.context.canvas.height) 
                        this.speed_y = Math.floor(Math.random() * (7 - 2 + 1) + 2);
                    this.x += this.speed_x;
                    this.y -= this.speed_y;
                }
            }

            function updateGameArea() {
                if(components.length === 0)
                    myGameArea.stop()

                myGameArea.clear();
                ctx = myGameArea.context;
                ctx.font = "11px Arial";
                ctx.textAlign = "left";
                ctx.textBaseline = "bottom";
                ctx.fillText(generatedText, 430, 10);
                ctx.fillText(hitText, 430, 20);
                if(components.length != 0){
                    for (let i = 0; i < numberOfComponents; i++) { 
                        components[i]?.newPos();
                        components[i]?.update();
                    }
                    //console.log(components[0].speed_x, components[0].speed_y)
                }

                document.getElementById('myGameCanvas').onclick = function(e) {
                    var c = document.getElementById('myGameCanvas');
                    for (let i = 0; i < numberOfComponents; i++) { 
                        if((components[i]?.x >= (e.x - 25) && components[i]?.x <= (e.x + 25)) 
                            && (components[i].y >= (e.y - 25) && components[i].y <= (e.y + 25))){
                            counter = counter+1;
                            hitText = "Broj pogođenih komponenti: " + counter;
                            components.splice(i, 1);
                        }
                    }
                }; 
            }

        </script>
    </body>
</html>